# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.tsbuildinfo
bun.lock
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files with secrets
.env
.env.local
.env.*.local

# Python cache
__pycache__/
*.pyc
*.pyo

answer_engine.cpython-313.pyc
# chroma.sqlite3 (UNIGNORED FOR RENDER)
# data_level0.bin (UNIGNORED FOR RENDER)
# length.bin (UNIGNORED FOR RENDER)
# knowledge_base (UNIGNORED FOR RENDER)
# knowledge_base_raw (UNIGNORED FOR RENDER)
# ai-support-assistant/data (UNIGNORED FOR RENDER)
.venv/